<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802878400281-vk57a2svau1apud247lnj318uheghvl1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802878400281-vk57a2svau1apud247lnj318uheghvl1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>802878400281-riu6fq7ct9ps4m5e6poeh3m4gt30qd8u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGnLbrK3QM92CgiCzE_G01AP3vkmHaDLA</string>
	<key>GCM_SENDER_ID</key>
	<string>802878400281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qualityseguros.quality</string>
	<key>PROJECT_ID</key>
	<string>quality-seguros</string>
	<key>STORAGE_BUCKET</key>
	<string>quality-seguros.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802878400281:ios:413f4fb6794e0489</string>
	<key>DATABASE_URL</key>
	<string>https://quality-seguros.firebaseio.com</string>
</dict>
</plist>